.logo_place_header {
  background: url(../../../images/logo_place_header.svg);
  top: 30px;
  left: 64px;
  position: absolute;
  height: 32px;
  transition-duration: 0.5s;
}

.logo_place_header:hover {
  opacity: 20%;
}
