.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  z-index: 1;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  background-color: #f2f2f2;
}

.logo_place_header {
  background: url(../images/logo_place_header.svg);
  top: 30px;
  left: 64px;
  position: absolute;
}

.logo_place_header:hover {
  background-color: #2f80ed;
}

.logo {
  width: 183px;
  height: 32px;
  width: 183px;
}

.header__title {
  margin-top: 0;
  margin-bottom: 0;
  align-self: center;
  width: 730px;
  right: 64px;
  margin-left: 64px;
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
}

.header__subtitle {
  position: absolute;
  padding: 0;
  margin: 0;
  left: 64px;
  bottom: 30px;
  font-weight: normal;
  width: 388px;
  font-size: 18px;
  line-height: 25px;
}

.header__link {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #2f80ed;
}
.header__link:hover {
  font-size: 30px;
}

.header__main-illustration {
  z-index: -1;
  position: absolute;
  width: 765px;
  height: 608px;
  right: 0;
  bottom: 0;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  z-index: -2;
  position: absolute;
  top: 64px;
  right: 0;
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
}
/* block description--------------------------------------------------------------------------------------------------*/
.description {
  display: flex;
}

.two-columns {
  display: flex;
  width: 80%;
  margin: 100px auto 0 auto;
  min-width: 784px;
  /* justify-content: flex-end; */
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  padding: 0;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  align-self: flex-start;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  padding: 0;
  margin: 0;
  padding-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
/* ----------------------------------------проработать_______ */
.two-columns__paragraph:nth-last-child(1) {
  padding-bottom: 0;
}
.two-columns__span-accent {
  font-weight: bolder;
}

/* block digits--------------------------------------------------------------------------------------------------*/
.digits {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.section-title {
  width: 60%;
  text-align: center;
  align-self: center;
  padding: 0;
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  padding-top: 100px;
}
.section-subtitle {
  width: 60%;
  align-self: center;
  text-align: center;
  padding: 0;
  margin: 0;
  padding-top: 20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 100px;
  align-self: center;
}

.table__cell {
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: column;
  align-content: center;
  width: 250px;
  margin-top: 60px; /*-------------add */
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}
.table__text {
  margin: 0;
  padding: 0;
  margin-bottom: 0;
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/* block feynman-------------------------------------------------------------------------------------------------*/
.feynman {
  padding-top: 100px; /*-------------add */
  position: relative;
  min-height: 790px;
  background-color: #f2f2f2;
  z-index: 0;
}

.feynman__title {
  position: relative;
  margin: 0 auto;
  padding: 0;

  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
}

.feynman__subtitle {
  position: relative;
  margin: 70px auto 0 auto;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
}

.feynman__image {
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.feynman__link {
  z-index: 3;
  text-decoration: none;
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
}

.feynman__link:hover {
  font-size: 66px;
}

/* -------------------------------Kaufman-------------------------------------------- */
.kaufman {
  overflow: hidden;
  display: flex;
  position: relative;
  flex-direction: column;
  align-content: center;
  background-color: #1f1f1f;
  z-index: 1;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
}

.section-title_theme_dark {
  padding-top: 90px;
  color: white;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle_theme_dark {
  margin: 0;
  padding: 0;
  color: white;
  margin-top: 20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table_theme_dark {
  margin: 0;
  padding: 0;
  padding-bottom: 90px;
}

.table__heading_theme_dark {
  color: white;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text_theme_dark {
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: white;
  width: 200px;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: -1;
  background-size: cover;
}
/* ------------------footer-------------------- */

.footer {
  display: flex;
  z-index: 0;
  background-color: #1f1f1f;
  min-height: 350px;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 40px;
  margin: 0;
  box-sizing: border-box;
}

.footer__columns {
  display: flex;
  width: 90%;
  color: white;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author {
  color: white;
  width: 200px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  padding-bottom: 18px;
}

.logo_place_footer {
  height: 35px;
  background: url(../images/logo_place_footer.svg);
}

.logo_place_footer:hover {
  background-color: rgb(247, 247, 247);
}

.footer__social-icon {
  margin-right: 10px;
  height: 16px;
  width: 16px;
}

.footer__column-link {
  list-style-type: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: #f2f2f2;
}

.footer__column-link:hover {
  background-color: #3674d1;
}

.footer__column-heading {
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column_content_social {
}

.footer__column_content_info {
}

.footer__column-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
